:root {
  /* Mobile */
  --s-s-gap: 4px;
  --s-m-gap: 8px; /* default */
  --s-l-gap: 12px;
  --s-xl-gap: 16px;

  /* Tablet */
  --m-s-gap: 4px;
  --m-m-gap: 8px; /* default */
  --m-l-gap: 40px;
  --m-xl-gap: 50px;

  /* PC */
  --l-s-gap: 4px;
  --l-m-gap: 8px; /* default */
  --l-l-gap: 50px;
  --l-xl-gap: 70px;
}
* {
  box-sizing: border-box;
}

.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col {
  display: block;
}

/* Mobile */
@media (max-width: 740px) {
  /* Medium gap - Default */
  .row {
    margin-left: calc(-1 * var(--s-m-gap));
    margin-right: calc(-1 * var(--s-m-gap));
  }
  .col {
    padding-left: var(--s-m-gap);
    padding-right: var(--s-m-gap);
  }

  /* Small Gap */
  .row.s-s-gap {
    margin-left: calc(-1 * var(--s-s-gap));
    margin-right: calc(-1 * var(--s-s-gap));
  }
  .row.s-s-gap > .col {
    padding-left: var(--s-s-gap);
    padding-right: var(--s-s-gap);
  }

  /* Large Gap */
  .row.s-l-gap {
    margin-left: calc(-1 * var(--s-l-gap));
    margin-right: calc(-1 * var(--s-l-gap));
  }
  .row.s-l-gap > .col {
    padding-left: var(--s-l-gap);
    padding-right: var(--s-l-gap);
  }

  /* Extra Large Gap */
  .row.s-xl-gap {
    margin-left: calc(-1 * var(--s-xl-gap));
    margin-right: calc(-1 * var(--s-xl-gap));
  }
  .row.s-xl-gap > .col {
    padding-left: var(--s-xl-gap);
    padding-right: var(--s-xl-gap);
  }

  /* No Gap */
  .row.s-no-gap {
    margin-left: 0;
    margin-right: 0;
  }
  .row.s-no-gap > .col {
    padding-left: 0;
    padding-right: 0;
  }

  /* Width */
  .s-0 {
    display: none;
  }
  .s-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .s-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .s-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .s-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .s-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .s-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .s-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .s-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .s-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .s-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .s-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .s-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* Offset */
  .s-o-1 {
    margin-left: 8.33333%;
  }
  .s-o-2 {
    margin-left: 16.66667%;
  }
  .s-o-3 {
    margin-left: 25%;
  }
  .s-o-4 {
    margin-left: 33.33333%;
  }
  .s-o-5 {
    margin-left: 41.66667%;
  }
  .s-o-6 {
    margin-left: 50%;
  }
  .s-o-7 {
    margin-left: 58.33333%;
  }
  .s-o-8 {
    margin-left: 66.66667%;
  }
  .s-o-9 {
    margin-left: 75%;
  }
  .s-o-10 {
    margin-left: 83.33333%;
  }
  .s-o-11 {
    margin-left: 91.66667%;
  }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
  .grid.wide {
    width: 720px;
  }

  /* Medium gap - Default */
  .row {
    margin-left: calc(-1 * var(--l-m-gap));
    margin-right: calc(-1 * var(--l-m-gap));
  }
  .col {
    padding-left: var(--m-m-gap);
    padding-right: var(--m-m-gap);
  }

  /* Small Gap */
  .row.m-s-gap {
    margin-left: calc(-1 * var(--m-s-gap));
    margin-right: calc(-1 * var(--m-s-gap));
  }
  .row.m-s-gap > .col {
    padding-left: var(--m-s-gap);
    padding-right: var(--m-s-gap);
  }

  /* Large Gap */
  .row.m-l-gap {
    margin-left: calc(-1 * var(--m-l-gap));
    margin-right: calc(-1 * var(--m-l-gap));
  }
  .row.m-l-gap > .col {
    padding-left: var(--m-l-gap);
    padding-right: var(--m-l-gap);
  }

  /* Extra Large Gap */
  .row.m-xl-gap {
    margin-left: calc(-1 * var(--m-xl-gap));
    margin-right: calc(-1 * var(--m-xl-gap));
  }
  .row.m-xl-gap > .col {
    padding-left: var(--m-xl-gap);
    padding-right: var(--m-xl-gap);
  }

  /* No Gap */
  .row.m-no-gap {
    margin-left: 0;
    margin-right: 0;
  }
  .row.m-no-gap > .col {
    padding-left: 0;
    padding-right: 0;
  }

  /* Width */
  .m-0 {
    display: none;
  }
  .m-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .m-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .m-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .m-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .m-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .m-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .m-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .m-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .m-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .m-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .m-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .m-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* Offset */
  .m-o-1 {
    margin-left: 8.33333%;
  }
  .m-o-2 {
    margin-left: 16.66667%;
  }
  .m-o-3 {
    margin-left: 25%;
  }
  .m-o-4 {
    margin-left: 33.33333%;
  }
  .m-o-5 {
    margin-left: 41.66667%;
  }
  .m-o-6 {
    margin-left: 50%;
  }
  .m-o-7 {
    margin-left: 58.33333%;
  }
  .m-o-8 {
    margin-left: 66.66667%;
  }
  .m-o-9 {
    margin-left: 75%;
  }
  .m-o-10 {
    margin-left: 83.33333%;
  }
  .m-o-11 {
    margin-left: 91.66667%;
  }
}

/* PC */
@media (min-width: 1024px) {
  /* Medium gap - Default */
  .row {
    margin-left: calc(-1 * var(--l-m-gap));
    margin-right: calc(-1 * var(--l-m-gap));
  }
  .col {
    padding-left: var(--l-m-gap);
    padding-right: var(--l-m-gap);
  }

  /* Small Gap */
  .row.l-s-gap {
    margin-left: calc(-1 * var(--l-s-gap));
    margin-right: calc(-1 * var(--l-s-gap));
  }
  .row.l-s-gap > .col {
    padding-left: var(--l-s-gap);
    padding-right: var(--l-s-gap);
  }

  /* Large Gap */
  .row.l-l-gap {
    margin-left: calc(-1 * var(--l-l-gap));
    margin-right: calc(-1 * var(--l-l-gap));
  }
  .row.l-l-gap > .col {
    padding-left: var(--l-l-gap);
    padding-right: var(--l-l-gap);
  }

  /* Extra Large Gap */
  .row.l-xl-gap {
    margin-left: calc(-1 * var(--l-xl-gap));
    margin-right: calc(-1 * var(--l-xl-gap));
  }
  .row.l-xl-gap > .col {
    padding-left: var(--l-xl-gap);
    padding-right: var(--l-xl-gap);
  }

  /* No Gap */
  .row.l-no-gap {
    margin-left: 0;
    margin-right: 0;
  }
  .row.l-no-gap > .col {
    padding-left: 0;
    padding-right: 0;
  }

  /* Width */
  .l-0 {
    display: none;
  }
  .l-1 {
    flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .l-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .l-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .l-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .l-5 {
    flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .l-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .l-7 {
    flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .l-8 {
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .l-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .l-10 {
    flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .l-11 {
    flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .l-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* Width */
  .l-o-1 {
    margin-left: 8.33333%;
  }
  .l-o-2 {
    margin-left: 16.66667%;
  }
  .l-o-3 {
    margin-left: 25%;
  }
  .l-o-4 {
    margin-left: 33.33333%;
  }
  .l-o-5 {
    margin-left: 41.66667%;
  }
  .l-o-6 {
    margin-left: 50%;
  }
  .l-o-7 {
    margin-left: 58.33333%;
  }
  .l-o-8 {
    margin-left: 66.66667%;
  }
  .l-o-9 {
    margin-left: 75%;
  }
  .l-o-10 {
    margin-left: 83.33333%;
  }
  .l-o-11 {
    margin-left: 91.66667%;
  }
}

@media (min-width: 1024px) and (max-width: 1239px) {
  .grid.wide {
    width: 984px;
  }
}
@media (min-width: 1240px) {
  .grid.wide {
    width: 1200px;
  }
}
