#section1 {
  background-image: linear-gradient(45deg, #002248 0%, #002e60 100%);
  width: 100%;
  position: relative;
  overflow: hidden;
}
#layout-1 {
  width: 27rem;
  height: 27rem;
  background-color: transparent;
  border: 2.5rem solid #007aff;
  position: absolute;
  top: 4.2rem;
  right: -18.5rem;
}
#layout-2 {
  background-color: #fff;
  width: 0.6rem;
  height: 0.6rem;
  position: absolute;
  bottom: 0.5rem;
  right: 2rem;
  box-shadow: -3.5rem 0 0 0 #fff, -7rem 0 0 0 #fff, -10.5rem 0 0 0 #fff,
    0 -2.3rem 0 0 #fff, -3.5rem -2.3rem 0 0 #fff, -7rem -2.3rem 0 0 #fff,
    -10.5rem -2.3rem 0 0 #fff, 0rem -4.6rem 0 0 #fff, -3.5rem -4.6rem 0 0 #fff,
    -7rem -4.6rem 0 0 #fff, -10.5rem -4.6rem 0 0 #fff, 0rem -6.9rem 0 0 #fff,
    -3.5rem -6.9rem 0 0 #fff, -7rem -6.9rem 0 0 #fff, -10.5rem -6.9rem 0 0 #fff,
    0rem -9.2rem 0 0 #fff, -3.5rem -9.2rem 0 0 #fff, -7rem -9.2rem 0 0 #fff,
    -10.5rem -9.2rem 0 0 #fff, 0rem -11.5rem 0 0 #fff, -3.5rem -11.5rem 0 0 #fff,
    -7rem -11.5rem 0 0 #fff, -10.5rem -11.5rem 0 0 #fff;
}
#layout-3 {
  width: 17rem;
  height: 17rem;
  background-color: transparent;
  border: 3.5rem solid #007aff;
  position: absolute;
  top: -12rem;
  left: -6.5rem;
}
#section1-content {
  max-width: 94rem;
  margin: 4.5rem auto;
  padding: 0 20px;
}

/* Form */
#form-container {
  display: flex;
  align-content: center;
}
.form-control {
  width: 100%;
  padding: 8px 10px;
  margin: 8px 0;
  border-radius: 4px;
  outline: none;
  border: 1px solid #fff;
  font-size: 15px;
  color: #153d6f;
}
.form-control option {
  color: #153d6f;
}

#form-9 {
  border: none;
  padding: 8px;
  border-radius: 4px;
  background-color: #005eff;
  cursor: pointer;
}

/* section 2 */
#section2 {
  width: 100%;
  max-width: 1000px;
  margin: 35px auto;
  overflow: hidden;
}
#section2 > .grid {
  padding: 0 20px;
}
.pane {
  background-image: linear-gradient(45deg, #002248 60%, #112169 100%);
  padding: 8px 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

#section2 ul {
  margin: 50px 40px;
  line-height: 2.5;
}

.diengia-img {
  margin-top: 25px;
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  width: 140px;
  height: 140px;
  overflow: hidden;
  border: 1px solid #1b1d97;
}

#btn123 {
  text-transform: capitalize;
  color: #fff;
  font-size: 16px;
  background-color: #052955;
  padding: 10px 0;
  width: 200px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#btn123:hover {
  background-color: #fabf17;
}

#diagram {
  position: relative;
  width: 100%;
  max-width: 440px;
  height: 400px;
}
#diagram-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 165px;
  height: 165px;
  background-color: #052955;
}
#diagram-center::after {
  content: "";
  width: 4px;
  height: 195px;
  position: absolute;
  top: -9%;
  left: 50%;
  background-color: #052955;
  z-index: -1;
}
#diagram-center::before {
  content: "";
  width: 195px;
  height: 4px;
  position: absolute;
  top: 50%;
  left: -9%;
  background-color: #052955;
  z-index: -1;
}

#dia2 {
  padding: 12px 12px 12px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
#dia3 {
  padding: 12px 12px 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#dia4 {
  padding: 12px 12px 12px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#dia1 {
  padding: 12px 12px 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#footer {
  width: 100%;
  background-color: #041c39;
  padding: 35px 16px;
}
#footer-container {
  width: 100%;
  max-width: 960px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#footer-anchor {
  list-style: none;
  display: flex;
  flex-direction: column;
}
#footer-anchor a {
  text-decoration: none;
  line-height: 2;
}
.social {
  padding: 8px;
  background-color: #cccccc;
  cursor: pointer;
  margin-left: 16px;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
}
